# ===============================
# Git
# ===============================
.git/
.gitignore
.gitattributes

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual env / uv
# ===============================
.venv/
venv/
.env/
.python-version

# ===============================
# Notebooks
# ===============================
**/notebooks/
.ipynb_checkpoints/
*.ipynb

# ===============================
# Data (VERY IMPORTANT)
# ===============================
src/project_folder/data/

# ===============================
# Model artifacts (VERY IMPORTANT)
# ===============================
*.pkl
*.joblib
*.pt
*.h5
models/

# ===============================
# Streamlit secrets
# ===============================
.streamlit/secrets.toml

# ===============================
# Logs & OS junk
# ===============================
*.log
.DS_Store
Thumbs.db

# ===============================
# Build artifacts
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Misc
# ===============================
README.md

